body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 24px;
}

section {
  max-width: 50ch;
  margin: auto;
}

fieldset {
  margin-bottom: 1em;
}

input, select, textarea, button {
  font-size: 24px;
}

input {
  width: 80%;
}

input:required {
  border: 2px solid red;
}

button {
  padding: .25em 0.5em;
  margin: auto;
  display: block;
}

.required {
  color: red;
}

.output {
  color: brown;
}